.project-style-one .project-post .project-data p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#project-page .project-post .project-data:hover .project-icon {
  right: 34px !important;
}
